.footer__ufba {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    background: #0B3665;
    justify-content: space-between;
    padding: 0 200px;
    height: 30vh;
    align-items: center;
    
}

.footer__right {
    margin-top: 3vh;
}

.footer__left a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
.footer__left a:visited {
    color: white;
}
  
  /* mouse over link */
.footer__left a:hover {
    color: rgb(172, 172, 172);
    transition: 0.3s;
}